# Tuples

In [6]:
#Reverse the order of tuple
aTuple = (10, 20, 30, 40, 50)
max_num = []
for i in range(len(aTuple)-1,-1,-1):
    max_num.append(aTuple[i])
print(tuple(max_num))

(50, 40, 30, 20, 10)

In [7]:
#Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

20

In [15]:
#Create a tuple with single item 50
bTuple = (50,)
print(bTuple)

(50,)

In [17]:
#Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
a,b,c,d = (10, 20, 30, 40)
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [18]:
#Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [84]:
#Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
tuple2

(44, 55)

In [51]:
#Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
list1 = list(tuple1)
for i in range(0,len(list1),1):
    for j in range(i + 1,len(list1),1):
        if list1[i][1] > list1[j][1]:
            list1[i],list1[j] = list1[j],list1[i]
print(tuple(list1))

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [55]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
count = 0
for i in range(0,len(tuple1),1):
    if tuple1[i] == 50:
        count = count + 1
print(count)

2

In [83]:
#Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)
flag = False
count = 0
for i in tuple1:
    if i == tuple1[0]:
        count = count + 1
if count == len(tuple1):
    flag = True
print(flag)

True

# Dictionary

In [92]:
#Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d = dict(zip(keys,values))
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [95]:
#Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [97]:
#Access the value of key ‘history’ from the below
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict['class']['student']['marks']['history']

80

In [99]:
#Initialize dictionary with default values
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

resDict = dict.fromkeys(employees, defaults)
print(resDict)
print(resDict['Kelly'])

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
{'designation': 'Application Developer', 'salary': 8000}

In [102]:
#Create a new dictionary by extracting the following keys from a below dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york" 
}
keys = ["name", "salary"]
newDict = {k:sampleDict[k] for k in keys}
newDict

{'name': 'Kelly', 'salary': 8000}

In [103]:
#Delete set of keys from a dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
keysToRemove = ["name", "salary"]
for i in keysToRemove:
    sampleDict.pop(i)
sampleDict

{'age': 25, 'city': 'New york'}

In [104]:
#Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

True

In [ ]:
# Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

In [107]:
#Get the key of a minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sampleDict)

'Math'

In [109]:
#Change Brad’s salary to 8500 from a given Python dictionary
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

# Sets

In [112]:
#Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
sampleSet

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [113]:
#Return a new set of identical items from a given two set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [114]:
#Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [115]:
#Given two Python sets, update the first set with items that exist only in the first set and not in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)

{10, 30}

In [119]:
#Remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [120]:
#Return a set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [121]:
#Check if two sets have any elements in common. If yes, display the common elements.
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
print(set1.intersection(set2))

Two sets have items in common
{10}

In [122]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [123]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}